
      <div class="alert alert-warning">
          <h4>Welcome to flowers shopping</h4>
        <div class="form-group">
            <label>Bouquet ID</label>
            <input type="number" class="form-control" [(ngModel)]="flowers.ID">
        </div>
        <div class="form-group">
            <label>Bouquet Name</label>
            <input type="text" class="form-control" [(ngModel)]="flowers.Name">
        </div>
       
        <div class="form-group">
            <label>Bouquet Price</label>
            <input type="number" class="form-control" [(ngModel)]="flowers.Price">
        </div>
        <div class="form-group">
            <label>Bouquet Quantity</label>
            <input type="number" class="form-control" [(ngModel)]="flowers.qty">
        </div>
        <div>
        <button  class="btn btn-success" data-toggle="modal" data-target="#myModal" (click)="PutFlowers()" >submit</button>
        <button   class="btn btn-warning">Reset</button>  
      </div>
    
      <p class="alert alert-danger" [id]="style">ID already Exists</p> 
      <div>
   
   